.SiteHeader {
    height:56px;
}

.SiteHeader .logo {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url('/static/assets/images/Brand/kushy-logo-short-white.svg') no-repeat top left;
    background-size: auto 100%;
    text-indent: -9999em;
    margin: 0.05em 1em 0 3em;
    border: 0;
}

.SiteHeader--api .logo {
    background: url('/static/assets/images/Brand/Kushy API Logo.png') 0.5em 0.2em no-repeat;
    color: #CC2029;
}